/* undo browser defaults */

@font-face
{
    font-display: swap;
    font-family: "DejaVu Sans Mono";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/DejaVuSansMono-webfont.woff");
}

html *
{
    box-sizing: border-box;
    margin: 0;
}

input { font-family: inherit; }

table { border-collapse: collapse; }
