/* for utility classes not specific to this project */
.align-right
{
    text-align: right;
}

.arial
{
    font-family: Arial, sans-serif;
}

.bold 
{
    font-weight: bold;
}

.center { text-align: center; }

.flex-center 
{
    align-items: center
}

.flex-column 
{
    display: flex;
    flex-direction: column;
}

.flex-middle
{
    justify-content: center;
}

.flex-right
{
    justify-content: end;
}

.flex-row 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-1 
{
    flex: 1;
    overflow: hidden;
}

.full-width
{
    width: 100%
}

.padded 
{
    padding: 5pt;
}

.ul-no-bullet
{
    list-style-type: none;
}

.x-large 
{
    font-size: x-large;
}
